/* Default margin, padding, pseudo-elements and box-sizing resets */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* fonts import from assets folder */
@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-VariableFont_wght.ttf') format('truetype'), url('../assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal italic;
}

/* Variable declaration for colors, font-size */
:root {

    --green-light: hsl(148, 38%, 91%);
    --green-med: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-med: hsl(186, 15%, 59%);
    --grey-dark: hsl(187, 24%, 22%);
    --fontsize: 1rem;
}

/* Font smoothing and line height setting */
body {
    -webkitfont-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    font-family: "Karla", sans-serif;
}

/* commons */
label {
    display: block;
    font-size: var(--fontsize);
    line-height: 1.5rem;
    color: var(--grey-dark);
    font-weight: normal;
    margin-bottom: 0.875rem;
}

label span {
    white-space: nowrap;
}

label .asterisk {
    color: var(--green-med);
    margin-left: 0.5rem;
}

/* main container style */
main {
    background-color: var(--green-light);
    min-height: 100vh;
    display: grid;
    place-items: center;
    width: 100vw;
}

/* form container holding the form and related contents styles  */
section {
    width: 100%;
    max-width: 46rem;
    background-color: var(--white);
    padding: 2.5rem;
    border-radius: 1rem;
    position: relative;
    margin: 128px auto;
}

/* error message styling */
.errmsg {
    color: var(--red);
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: 1.5;
    display: none;
}

/* heading style  */
h1 {
    font-size: calc(var(--fontsize) * 2);
    margin-bottom: 2rem;
    letter-spacing: -0.0625rem;
    font-weight: 700;
    color: var(--grey-dark);
}

input {
    cursor: pointer;
}

input:not(.query-div--box label input, .consent input[type="checkbox"]) {
    width: 100%;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--grey-med);
    border-radius: 0.5rem;
    font-size: var(--fontsize);
    line-height: 1.4;
    outline-color: var(--green-med);
}

input:not(.query-div--box label input, .consent input[type="checkbox"]):hover,
.query-div--box:hover,
.msg textarea:hover {
    outline: thin ridge var(--green-med);
}

.query,
.query-div--box label,
.consent--box {
    cursor: pointer;
}

.query-div--box label,
.consent label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.consent label {
    display: inline-block;
}

.name,
.query-div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.email,
.name,
.query {
    margin-bottom: 1.5rem;
}

.name div,
.query-div--box {
    flex: 1 0 18.438rem;
}

/* query type  */
.query-div--box {
    border: 1px solid var(--grey-med);
    border-radius: 0.5rem;
    width: 20rem;
    padding: 0.78125rem 1.5rem;
    /* background-color: var(--green-light); */
}

.msg,
.consent {
    margin-bottom: 2.5rem;
}

/* text area */
.msg textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--grey-med);
    outline-color: var(--green-med);
    padding: 0.75rem 1.5rem;
    font-size: 0.85rem;
    line-height: 1.5rem;
    height: 6.5625rem;
    color: var(--grey-dark);
    letter-spacing: -.5px;
}

/* consent checkbox  */
.consent--box {
    display: flex;
    align-items: center;
    width: 100%;
}

.consent--box label {
    font-size: var(--fontsize);
    line-height: 1.5rem;
    font-weight: normal;
}

input[type="checkbox"],
.query-div--box label input {
    margin-right: 1rem;
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--grey-med);
    /* This changes the background-color: of both the checkbox and radios; */
    accent-color: var(--green-med);
}

.btn button {
    background-color: var(--green-med);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2.5rem;
    font-size: var(--fontsize);
    cursor: pointer;
    width: 100%;
    line-height: 1.5;
}

.btn button:hover {
    background-color: #1b4332;
    transition: .5s ease-in-out;
}

/* success box */
.success {
    display: none;
    background-color: var(--grey-dark);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 1.5rem;
    width: 450px;
    position: absolute;
    top: -127px;
    left: 50%;
    transform: translate(-50%);
}

.success p {
    color: var(--green-light);
    font-size: var(--fontsize);
    line-height: 1.5;
    font-style: normal;
}

.success-heading {
    display: flex;
    align-content: center;
    gap: .5rem;
}

.success-heading h3 {
    color: var(--white);
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: .5rem;
}

@media (451px <=width < 780px) {
    section {
        width: 89.84%;
        margin: 8rem auto;
    }

    .name div,
    .query-div--box {
        flex: 1 0 16.25rem;
    }

    .success {
        position: fixed;
        top: 0;
        width: 80%;
        transform: translate(-56.5%);
    }

}

@media (365px <=width < 450px) {
    section {
        width: 91.5%;
        padding: 2.8rem 1.5rem;
        margin: 2rem auto;
    }

    .success {
        position: fixed;
        width: 87%;
        top: 0;
        transform: translate(-57%);
    }
}

@media (width <=364px) {
    section {
        width: 80%;
        padding: 1.5rem .8rem;
    }

    .name div,
    .query-div--box {
        flex: 1 0 10rem;
    }

    .success {
        position: fixed;
        width: 75%;
        top: 0;
        transform: translate(-57.5%);
    }
}